@model IEnumerable<DataLayer.Page>
<div class="widget">
    <h4 class="widget-title">Recent Post</h4>

    @foreach (var item in Model)
    {
        <article class="widget-card">
            <div class="d-flex">
                <img class="card-img-sm" src="/Content/images/@item.PageImage">
                <div class="ml-3">
                    <h5><a class="post-title" href="post/elements/">@item.PageTitle</a></h5>
                    <ul class="card-meta list-inline mb-0">
                        <li class="list-inline-item mb-0">
                            <i class="ti-calendar"></i>@item.PageCreateDate
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    }
</div>
