@model IEnumerable<DataLayer.Page>

<section class="section pb-0">
    <div class="container">
        <h2 class="h5 section-title">Trending Post</h2>
        <div class="row">
            @foreach (var page in Model)
            {
                <div class="col-lg-4 mb-5">
                    <article class="card">
                        <div class="post-slider slider-sm">
                            <img src="/Content/images/@page.PageImage" class="card-img-top" alt="post-thumb">
                        </div>
                        <div class="card-body">
                            <h3 class="h4 mb-3"><a class="post-title" href="~/Post/@page.PageId/@page.PageTitle">@page.PageTitle</a></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="author-single.html" class="card-meta-author">
                                        <img src="/Content/images/kate-stone.jpg" alt="Kate Stone">
                                        <span>Kate Stone</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-timer"></i>2 Min To Read
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>@page.PageCreateDate
                                </li>
                                <li class="list-inline-item">
                                    <ul class="card-meta-tag list-inline">
                                        @foreach (var tag in page.TagsPages)
                                        {
                                            <li class="list-inline-item"><a href="~/Tags/@tag.TagId/@tag.Tag.TagName">@tag.Tag.TagName</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                            <p>@page.PageDescription</p>
                            <a href="~/Post/@page.PageId/@page.PageTitle" class="btn btn-outline-primary">Read More</a>
                        </div>
                    </article>
                </div>
            }

            <div class="col-12">
                <div class="border-bottom border-default"></div>
            </div>

        </div>
    </div>
</section>
