@model IEnumerable<DataLayer.PageComment>
<div class="mb-5 border-top mt-4 pt-5">
    <h3 class="mb-4">Comments</h3>

    @foreach (var item in Model)
    {
        <div class="media d-block d-sm-flex mb-4 pb-4">
            <a class="d-inline-block mr-2 mb-3 mb-md-0" href="#">
                <img src="images/post/user-01.jpg" class="mr-3 rounded-circle" alt="">
            </a>
            <div class="media-body">
                <a href="#!" class="h4 d-inline-block mb-3">@item.PageCommentName</a>

                <p>@item.PageCommentText</p>

                <span class="text-black-800 mr-3 font-weight-600">@item.PageCommentCreateDate</span>
                
            </div>
        </div>
    }

</div>